@import 'normalize.css';

:root {
  /* --chakra-colors-chakra-body-bg: #f5f3f3 !important; */
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
}

body main {
  flex-grow: 1;
}
